@import 'tailwindcss';

/* 
Color helper:
 https://uicolors.app/create
 Generally the 100, 200, 400, 600 color variants are used for the light theme
 and a rule of thumb, the dark colors are the inverted light colors (light: 100 dark: 900).
*/

@theme {
    --color-*: initial;

    --color-surface: #ffffff;
    --color-on-surface: #000000;
    --color-container: #f3f3f3;
    --color-on-container: #000000;
    --color-sub-container: #dbdbdb;
    --color-on-sub-container: #000000;

    --color-primary: #859bab;
    --color-primary-1: #668091;
    --color-primary-2: #425462;
    --color-on-primary: #eceff2;

    --color-secondary: #f6f7f9;
    --color-secondary-1: #eceef2;
    --color-secondary-2: #b0bcc9;
    --color-on-secondary: #516378;

    --color-info: #dff5ff;
    --color-info-1: #b8edff;
    --color-info-2: #32d1fe;
    --color-on-info: #0098ce;

    --color-warning: #fff2aa;
    --color-warning-1: #ffe988;
    --color-warning-2: #febe11;
    --color-on-warning: #cd7d01;

    --color-danger: #ffdfdf;
    --color-danger-1: #ffc8c8;
    --color-danger-2: #fd6c6c;
    --color-on-danger: #e32020;

    --color-success: #e7ffc8;
    --color-success-1: #d0ff97;
    --color-success-2: #90f12a;
    --color-on-success: #55ac04;

    --color-data-gray-1: #f5f6f6;
    --color-data-gray-2: #e6e7e7;
    --color-data-gray-3: #d0d1d1;
    --color-data-gray-4: #aeb0b2;
    --color-data-gray-5: #868990;
    --color-data-gray-6: #6b6e6f;
    --color-data-gray-7: #616365;

    --hover-action-brightness: 0.75;
}

@layer base {
    [data-theme='dark'] {
        --color-surface: #282828;
        --color-on-surface: #dbdbdb;
        --color-container: #373737;
        --color-on-container: #dbdbdb;
        --color-sub-container: #464646;
        --color-on-sub-container: #dbdbdb;

        --color-primary: #425462;
        --color-primary-1: #516778;
        --color-primary-2: #859bab;
        --color-on-primary: #eceff2;

        --color-secondary: #22272f;
        --color-secondary-1: #333b47;
        --color-secondary-2: #424e62;
        --color-on-secondary: #8595ab;

        --color-info: #095471;
        --color-info-1: #036689;
        --color-info-2: #0098ce;
        --color-on-info: #32d1fe;

        --color-warning: #733810;
        --color-warning-1: #87450c;
        --color-warning-2: #cd7d01;
        --color-on-warning: #febe11;

        --color-danger: #470808;
        --color-danger-1: #9d1717;
        --color-danger-2: #e32020;
        --color-on-danger: #fd6c6c;

        --color-success: #2e5710;
        --color-success-1: #36670d;
        --color-success-2: #55ac04;
        --color-on-success: #90f12a;

        --color-data-gray-1: #868990;
        --color-data-gray-2: #6b6e6f;
        --color-data-gray-3: #616365;
        --color-data-gray-4: #4e4f50;
        --color-data-gray-5: #444546;
        --color-data-gray-6: #3c3d3d;
        --color-data-gray-7: #252527;

        --hover-action-brightness: 1.5;
    }

    html {
        background-color: var(--color-surface);
        color: var(--color-on-surface);
    }

    html[data-theme='dark'] {
        background-color: var(--color-surface);
        color: var(--color-on-surface);
    }
}

@layer utilities {
    .highlight {
        @apply brightness-(--hover-action-brightness);
    }
    .hover\:highlight:hover {
        @apply brightness-(--hover-action-brightness);
    }
    .highlight-backdrop {
        @apply backdrop-brightness-(--hover-action-brightness);
    }
    .hover\:highlight-backdrop:hover {
        @apply backdrop-brightness-(--hover-action-brightness);
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
        overscroll-behavior-y: none;
    }

    .min-w-xs {
        min-width: 20rem;
    }
    .min-w-sm {
        min-width: 24rem;
    }
    .min-w-md {
        min-width: 28rem;
    }
    .min-w-lg {
        min-width: 32rem;
    }
    .min-w-xl {
        min-width: 36rem;
    }
    .min-w-2xl {
        min-width: 42rem;
    }
    .min-w-3xl {
        min-width: 48rem;
    }
    .min-w-4xl {
        min-width: 56rem;
    }
    .min-w-5xl {
        min-width: 64rem;
    }
    .min-w-6xl {
        min-width: 72rem;
    }
    .min-w-7xl {
        min-width: 80rem;
    }

    .max-w-xs {
        max-width: 20rem;
    }
    .max-w-sm {
        max-width: 24rem;
    }
    .max-w-md {
        max-width: 28rem;
    }
    .max-w-lg {
        max-width: 32rem;
    }
    .max-w-xl {
        max-width: 36rem;
    }
    .max-w-2xl {
        max-width: 42rem;
    }
    .max-w-3xl {
        max-width: 48rem;
    }
    .max-w-4xl {
        max-width: 56rem;
    }
    .max-w-5xl {
        max-width: 64rem;
    }
    .max-w-6xl {
        max-width: 72rem;
    }
    .max-w-7xl {
        max-width: 80rem;
    }

    .min-h-xs {
        min-height: 10rem;
    }
    .min-h-sm {
        min-height: 12rem;
    }
    .min-h-md {
        min-height: 14rem;
    }
    .min-h-lg {
        min-height: 16rem;
    }
    .min-h-xl {
        min-height: 18rem;
    }
    .min-h-2xl {
        min-height: 21rem;
    }
    .min-h-3xl {
        min-height: 24rem;
    }
    .min-h-4xl {
        min-height: 28rem;
    }
    .min-h-5xl {
        min-height: 32rem;
    }
    .min-h-6xl {
        min-height: 36rem;
    }
    .min-h-7xl {
        min-height: 40rem;
    }

    .max-h-xs {
        max-height: 20rem;
    }
    .max-h-sm {
        max-height: 24rem;
    }
    .max-h-md {
        max-height: 28rem;
    }
    .max-h-lg {
        max-height: 32rem;
    }
    .max-h-xl {
        max-height: 36rem;
    }
    .max-h-2xl {
        max-height: 42rem;
    }
    .max-h-3xl {
        max-height: 48rem;
    }
    .max-h-4xl {
        max-height: 56rem;
    }
    .max-h-5xl {
        max-height: 64rem;
    }
    .max-h-6xl {
        max-height: 72rem;
    }
    .max-h-7xl {
        max-height: 80rem;
    }

    .icon-xs {
        @apply h-4 w-4;
    }
    .icon-sm {
        @apply h-5 w-5;
    }
    .icon-md {
        @apply h-9 w-9;
    }
    .icon-lg {
        @apply h-12 w-12;
    }
    .min-icon-xs {
        @apply min-h-4 min-w-4;
    }
    .min-icon-sm {
        @apply min-h-5 min-w-5;
    }
    .min-icon-md {
        @apply min-h-9 min-w-9;
    }
    .min-icon-lg {
        @apply min-h-12 min-w-12;
    }
    .max-icon-xs {
        @apply max-h-4 max-w-4;
    }
    .max-icon-sm {
        @apply max-h-5 max-w-5;
    }
    .max-icon-md {
        @apply max-h-9 max-w-9;
    }
    .max-icon-lg {
        @apply max-h-12 max-w-12;
    }

    .grid-cols-1-auto {
        grid-template-columns: repeat(1, max-content);
    }
    .grid-cols-2-auto {
        grid-template-columns: repeat(2, max-content);
    }
    .grid-cols-3-auto {
        grid-template-columns: repeat(3, max-content);
    }
    .grid-cols-4-auto {
        grid-template-columns: repeat(4, max-content);
    }
    .grid-cols-5-auto {
        grid-template-columns: repeat(5, max-content);
    }
    .grid-cols-6-auto {
        grid-template-columns: repeat(6, max-content);
    }

    .table {
        :where(table) {
            @apply w-full text-left text-sm rtl:text-right;
        }
        :where(th, td) {
            @apply px-4 py-3 align-middle;
        }
    }
    .table-xs :not(thead):not(tfoot) tr {
        @apply text-xs;
    }
    .table-xs :where(th, td) {
        @apply px-1 py-1;
    }
    .table-sm :not(thead):not(tfoot) tr {
        @apply text-sm;
    }
    .table-sm :where(th, td) {
        @apply px-2 py-1.5;
    }
    .table-md :not(thead):not(tfoot) tr {
        @apply text-sm;
    }
    .table-md :where(th, td) {
        @apply px-3 py-2;
    }
    .table-lg :not(thead):not(tfoot) tr {
        @apply text-base;
    }
    .table-lg :where(th, td) {
        @apply px-4 py-3;
    }
}

.settings {
    @apply m-2 h-min w-1/2 max-w-lg rounded-sm border p-2;

    /*&-label {
        @apply label ml-2;
    }*/
    .settings-key-value {
        @apply mb-4 grid grid-cols-2 gap-1;
    }
}

body {
    @apply flex h-full w-full flex-col overflow-hidden;
}

#app {
    @apply flex h-full w-full flex-col overflow-hidden;
}
