name: Build and Test

on:
    push:
        branches: ['master']
    pull_request:
        branches: ['master']

# cancel outdated builds
concurrency:
    group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
    cancel-in-progress: true

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write

        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: recursive

            - name: Setup pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: latest

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 22.x
                  cache: 'pnpm'

            - name: Pre-build
              env:
                  ASSET_VERSION: ${{ github.sha }}
              run: |
                  pnpm i
                  pnpm run mkcert
                  pnpm run env:prod
                  pnpm run lint
                  pnpm run check

            - name: Build
              env:
                  ASSET_VERSION: ${{ github.sha }}
              run: |
                  pnpm run build
                  npx wrangler deploy --dry-run --outdir ./.svelte-kit/cloudflare-tmp
                  cp ./.svelte-kit/cloudflare-tmp/_worker.js ./.svelte-kit/cloudflare/_worker.js

            - name: Collect spa artifact items
              run: |
                  mkdir -p ./dist
                  cp -r .svelte-kit/cloudflare ./dist/cloudflare
                  jq '.main = "cloudflare/_worker.js" | .assets.directory = "cloudflare"' wrangler.json > ./dist/wrangler.json

            # Upload the release artifact before test would modify anything
            - name: Upload spa artifact
              if: github.ref == 'refs/heads/master'
              uses: actions/upload-artifact@v4
              with:
                  name: spa
                  include-hidden-files: true
                  path: ./dist

            # Create a preview
            - name: Upload preview site
              id: preview_deploy
              if: github.event_name == 'pull_request'
              uses: cloudflare/wrangler-action@v3
              with:
                  wranglerVersion: '4.42.0'
                  apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
                  accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
                  workingDirectory: ./dist
                  command: versions upload

            - name: Preview Url
              env:
                  DEPLOYMENT_URL: ${{ steps.preview_deploy.outputs.deployment-url }}
              run: |
                  echo "**Deployment url**: <${DEPLOYMENT_URL}>" >> $GITHUB_STEP_SUMMARY

    deploy:
        needs: build
        if: github.ref == 'refs/heads/master'
        runs-on: ubuntu-latest
        permissions:
            contents: read

        steps:
            - name: Download spa artifacts
              uses: actions/download-artifact@v4
              with:
                  name: spa
                  path: ./dist

            - name: Publish website to site
              uses: cloudflare/wrangler-action@v3
              with:
                  wranglerVersion: '4.42.0'
                  apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
                  accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
                  workingDirectory: ./dist
                  command: deploy
